<template>
  <div class='post'>
    <div class='sidebar'></div>
    <v-markdown :toc='true' v-bind:source='content'></v-markdown>
  </div>
</template>

<style lang='scss' scoped>
.post {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  .sidebar {
    grid-area: 1/1/2/2;
  }
  .content {
    grid-area: 1/2/2/3;
  }
}
</style>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  data () {
    return {
      content: 'Loading...',
    }
  },
  mounted () {
    this.axios.get(`/data/${this.$route.params.post}.md`).then(response => {
      this.content = response.data
    }).catch(reason => {
      this.content = 'could not fetch post :('
    })
  },
  updated () {
    if (this.$route.hash) {
      let el = this.$el.querySelector(this.$route.hash)
      if (el) el.scrollIntoView()
    }
  },
  components: {
    'v-markdown': VueMarkdown,
  },
}
</script>
