<template>
  <header>
    <h1><router-link to='/'>mmmmmmm</router-link></h1>
    <nav>
      <router-link to='/tags/code'>code</router-link>
      <router-link to='/tags/*nix'>*nix</router-link>
      <router-link to='/tags/hack'>hack</router-link>
      <router-link to='/tags/game'>game</router-link>
      <router-link to='/tags/misc'>misc</router-link>
      <router-link to='/posts/lorem-ipsum'>lorem-ipsum</router-link>
    </nav>
  </header>
</template>

<style lang='scss' scoped>
header {
  position: fixed;
  background-color: #000;
  color: #fff;
  left: 0;
  width: 100vw;
  a {
    box-sizing: border-box;
    display: inline-block;
    height: 64px;
    line-height: 56px;
    padding: 0 8px;
  }
  h1 {
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 32px;
    a {
      font-size: 32px;
    }
  }
  nav {
    display: inline-block;
    a {
      font-size: 20px;
      background-color: #000;
      border-top: 4px solid #000;
      transition: 0.2s 0.2s;
      &.router-link-active, &:hover {
        border-color: #4c8;
        transition: 0.2s;
      }
    }
  }
}
</style>
