<template>
  <div>
    <v-header />
    <div class='view'><router-view /></div>
  </div>
</template>

<style lang='scss'>
@import url('https://fonts.googleapis.com/css?display=swap&family=Fira+Code');

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}
</style>

<style lang='scss' scoped>
.view {
  padding-top: 64px;
  height: calc(100vh - 64px);
  > div {
    height: calc(100vh - 64px);
    overflow-y: scroll;
  }
}
</style>

<script>
import Header from './components/Header'

export default {
  components: {
    'v-header': Header,
  },
}
</script>
